* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffeac0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

.login-container h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.login-container span {
    color: #ff511c;
    font-weight: bold;
}

.login-container p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    text-align: left;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 14px;
}

button {
    background-color: #ff511c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e04610;
}

.login-container p {
    margin-top: 15px;
    font-size: 14px;
}

.login-container a {
    color: #ff511c;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}